version: '3'
services:
  mongo:
    image: mongo
    container_name: mongodb
    environment:
      - MONGO-INITDB_ROOT_USERNAME=admin
      - MONGO-INITDB_ROOT_PASSWORD=password
    ports:
      - 27017:27017
  mongo-express:
    image: mongo-express:0.54.0
    restart: always
    container_name: mongo-express
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=admin
      - ME_CONFIG_MONGODB_ADMINPASSWORD=password
      - ME_CONFIG_MONGODB_SERVER=mongo
    depends_on:
      - mongo
    ports:
      - 8081:8081
